<div class="cont">
  <div class="wrappe">
    <div id="box">
      <div class="ribbon"><span>New</span></div>
    <div class="img">
      <img src="assets/images/product.jpg" alt="" class="src" />
      <ul class="icon">
        <li>
          <a><i class="fa-solid fa-cart-plus"></i></a>
        </li>
        <li class="hh">
          <a><i class="fa-solid fa-list-check"></i></a>
        </li>
      </ul>
      <a class="whishlist"><i class="fa-regular fa-heart"></i></a>
    </div>
<p class="title">Apple – 11” iPad Pro with Wi-Fi 256 GB</p>
<p class="rice">$899</p>
<ul class="reviews">
  <li><i class="fa-solid fa-star"></i></li>
  <li><i class="fa-solid fa-star"></i></li>
  <li><i class="fa-solid fa-star"></i></li>
  <li><i class="fa-solid fa-star"></i></li>
  <li><i class="fa-solid fa-star-half-stroke"></i></li>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;(2 reviews)</li>
</ul>


  </div>
</div>
