<div class="container-fluid">
  <div class="upper">
    <p>New Arrivals</p>
    <ul class="anchor">
      <li><a>ALL</a></li>
      <li><a>ACCESSORIES</a></li>
      <li><a>CAMERAS</a></li>
      <li><a>COMPUTER & TABLETS</a></li>
      <li><a>ENTERAINMENT</a></li>
         </ul>
  </div>
  <div class="crouselx">

<img src="https://blogapi.s3.us-west-2.amazonaws.com/uploads/7821fbc2-be4c-4d2e-a3a8-636fbb345d78-newarrivals.jpg" alt="" class="srcss">
<swiper
      #swiperRef
      [slidesPerView]="4"
      [centeredSlides]="false"
      [spaceBetween]="30"
      [navigation]="true"
      [virtual]="true"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let slide of productlist">
        <div class="product-item">
          <!--Ribbon-->
              <div class="ribbon-wrapper">
              <div class="ribbon"> Sale </div>
            </div>
         <!--//Ribbon-->
         <div class="productImage">

          <img [src]=[slide.productImage] alt="" class="img" >
         </div>            <ol>
              <li><a class="whishlist" (click)="addtowishlist(this.slide._id)"><i class="fa-solid fa-heart"></i></a></li>
              <li><a class="whishlist" [routerLink]="['/detailsproduct',this.slide._id]"><i class="fa-solid fa-handcuffs"></i></a></li>
            </ol>
                        <a class="product-item__name">{{slide.title}}</a>
          <div class="product-item__description">
            <ul>
              <li><span>Loreum ipsum product</span></li>
            </ul>
          </div>

                        <div class="product-item__price">
                          <a  class="btn btn--buy" (click)="addtocart(this.slide._id)">Add To Cart</a>
                          <div class="price">
                            <span>{{slide.price}}&nbsp;&#8377;

                          </span></div>

                        </div>
                      </div>
      </ng-template>
    </swiper>


</div>
</div>
