<div class="header">
  <div class="firstheader">
    <img src="https://blogapi.s3.us-west-2.amazonaws.com/uploads/30e2027d-d366-4ae7-92a2-1f1c5bfb9e35-WhatsApp_Image_2022-08-20_at_21.09.33-removebg-preview.png" alt="" class="src" />
    <div class="search">
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <input type="text" placeholder="Search Your Product ......." />
    </div>
    <div class="iconsx">
      <li>
        <a routerLink="cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <p class="lk">Cart</p>
        <div class="circle">{{items}}</div>
      </li>
      <li>
        <a routerLink="wishlist"><i class="fa-solid fa-heart"></i></a>
        <p class="lk">Whishlist</p>
        <div class="circlee">{{wishlist}}</div>

      </li>
      <li class="mat">
        <button class="coustmize" mat-icon-button [matMenuTriggerFor]="menu">

          <mat-icon><img [src]=[profile] alt="" class="po"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>donut_small</mat-icon>
            <span [routerLink]="['user']">Order</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span (click)="this.userservice.logoutUser()">Logout</span>
          </button>
        </mat-menu>
        <p>{{username}}</p>

      </li>
    </div>
  </div>
  <div class="secondheader">
    <div class="browse">
      <p><i class="bi bi-list"></i>&nbsp; BROWSE CATEGORIES</p>
    </div>
    <nav class="navi">
      <nav class="navbar">
        <ul class="list">
          <li><a  [routerLink]="['/home']">home</a></li>
          <li><a routerLink="product">Product</a></li>
          <li><a routerLink="shop" >Shop</a></li>
          <li><a routerLink="blog" >Blog</a></li>
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="contact">contact</a></li>
        </ul>
      </nav>
    </nav>
    <div class="tagline">
      <p>
        <i class="bi bi-lightbulb-fill"></i>&nbsp;&nbsp;cleareance upto to 30%
        off
      </p>
    </div>
  </div>
</div>
