<img src="assets/images/o.jpg" alt="" class="empty">
      <div id="error-overlay" class="error-overlay">
        <div class="error-popup">
          <div class="animated-icon">
            <div class="animated-eyes">
              <div class="icon eye1"></div>
              <div class="icon eye2"></div>
            </div>
          </div>
          <p class="error-message noselect">
            Your Cart Is Empty
          </p>
          <div class="reload-button">
            <a routerLink="/home">Shop </a>
          </div>
        </div>
      </div>
