<img src="https://blogapi.s3.us-west-2.amazonaws.com/uploads/60fec8df-da9e-4079-a7f7-0c147d483239-o.jpg" alt="" class="empty">
      <div id="error-overlay" class="error-overlay">
        <div class="error-popup">
          <div class="animated-icon">
            <div class="animated-eyes">

            </div>
          </div>
          <p class="error-message noselect">
            Your Cart Is Empty
          </p>
          <div class="reload-button">
            <a routerLink="/home">Shop </a>
          </div>
        </div>
      </div>
