<div class='shop'>
	<div class='gallery'>
		<div class='controls'>

		</div>
		<div class='images-container'>
			<div class='images'>
				<img src='assets/images/pngegg.png' class="img"/>

			</div>

		</div>
	</div>
	<div class='product'>
		<div class='main-info'>
			<h2 class='title'>Audio-Technica ATH-M50x</h2>
			<h3 class='sub'>Professional Monitor Headphones</h3>
			<h3 class='price'>$149.00</h3>
		</div>
		<div class='options'>
			<ul class='color'>
				<li style='background: #2D3031;'></li>
				<li style='background: #fff;'></li>
			</ul>
		</div>
		<div class='fin-check'>
			<a href="#" class='btn main'>Add To Cart</a>
			<a href="#" class='btn side'>Add To List</a>
		</div>
		<div class='desc'>
			<p>
				As the most critically acclaimed model in the M-Series line, the ATH-M50 is praised by top audio engineers and pro audio reviewers year after year. From the large aperture drivers, sound isolating earcups and robust construction, the M50x provides an unmatched experience for the most critical audio professionals.
			</p>
		</div>



	</div>
	</div>
