.container-fluid{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/antoine-barres.jpg');
  background-position: center;
  background-repeat: no-repeat;
    height: 100%;
}
