<div class="container-fluid">

<ul>
  <li class="one">Recommendation For You</li>
  <li class="two"><a href="">View All Recommendadion  <i class="fa-solid fa-arrow-right-long"></i> </a></li>
</ul>
<div class="grid-container">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>
<div class="line"></div>
<div class="section">
<div class="para">
<ul class="footer1">
  <li><i class="fa-solid fa-rocket"></i></li>
  <li><p>Free Shipping</p><h4>Orders $50 or more</h4></li>
</ul>
<ul class="footer1">
  <li><i class="fa-solid fa-spinner"></i></li>
  <li><p>Free Returns</p><h4>Within 30 days</h4></li>
</ul>
<ul class="footer1">
  <li><i class="fa-solid fa-circle-info"></i></li>
  <li><p>Get 20% Off 1 Item</p><h4>When you sign up</h4></li>
</ul>
<ul class="footer1">
  <li><i class="fa-solid fa-circle-question"></i></li>
  <li><p>We Support</p><h4>24/7 amazing services </h4></li>
</ul>

</div>


</div>


</div>
