<section class="first1">
  <app-slidear></app-slidear>
</section>
<section class="second2">
  <app-banner></app-banner>
</section>
<section class="third3" >
  <app-new-arrivals></app-new-arrivals>
</section>
<section class="four4">
  <app-offercountodown></app-offercountodown>
</section>
<section class="fifth5">
  <app-trending></app-trending>
</section>
<section class="sixth6">
  <app-partner></app-partner>
</section>
<section class="seven7" >
  <app-recommded></app-recommded>
</section>
<section class="eight8">
  <app-testimonal-slidear></app-testimonal-slidear>

</section>
