
.first1{
  position:relative;
  top: -30px;
position: relative;
}
.second2{
  margin-top: -50px;
  margin-bottom: 50px;
}
.third3{
  position: relative;
  top: 160px;
}
.four4{
  position: relative;
  top :100px;
  margin-top:190px;
  margin-bottom: 60px;
}
.fifth5{
  position: relative;
  top: 160px;
  height: 100%;
}




.sixth6{
  position: relative;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 110px;
}
.seven7{
  position: relative;
  top: -170px;
}


.eight8{

  position: relative;
  top: -150px;
  margin-top: 35px;
}
