<section class = "design" id = "design">
  <div class = "container">
    <div class = "title">
      <h2>Recent Fashion & Design</h2>
      <p>recent fashion & designs on the blog</p>
    </div>

    <div class = "design-content">
      <!-- item -->
      <div class = "design-item">
        <div class = "design-img">
          <img src = "assets/images/blog.jpg" alt = "">
          <span><i class = "far fa-heart"></i> 22</span>
          <span>Fasion & Models</span>
        </div>
        <div class = "design-title">
          <a >make an awesome art portfolio for college or university</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "design-item">
        <div class = "design-img">
          <img src = "assets/images/blog8.jpg" alt = "">
          <span><i class = "far fa-heart"></i> 22</span>
          <span>Fasion & Models</span>
        </div>
        <div class = "design-title">
          <a >make an awesome art portfolio for college or university</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "design-item">
        <div class = "design-img">
          <img src = "assets/images/blog12.jpg" alt = "">
          <span><i class = "far fa-heart"></i> 22</span>
          <span>Fasion & Models</span>
        </div>
        <div class = "design-title">
          <a >make an awesome art portfolio for college or university</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "design-item">
        <div class = "design-img">
          <img src = "assets/images/blog10.jpg" alt = "">          <span><i class = "far fa-heart"></i> 22</span>
          <span>Fasion & Models</span>
        </div>
        <div class = "design-title">
          <a >make an awesome art portfolio for college or university</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "design-item">
        <div class = "design-img">
          <img src = "assets/images/blog13.jpg" alt = "">
          <span><i class = "far fa-heart"></i> 22</span>
          <span>Fasion & Models</span>
        </div>
        <div class = "design-title">
          <a >make an awesome art portfolio for college or university</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "design-item">
        <div class = "design-img">
          <img src = "assets/images/blog14.jpg" alt = "">
          <span><i class = "far fa-heart"></i> 22</span>
          <span>Fasion & Models</span>
        </div>
        <div class = "design-title">
          <a >make an awesome art portfolio for college or university</a>
        </div>
      </div>
      <!-- end of item -->
    </div>
  </div>
</section>
<!-- end of design -->


<!-- blog -->
<section class = "blog" id = "blog">
  <div class = "container">
    <div class = "title">
      <h2>Latest Blog</h2>
      <p>recent blogs about fashion & design</p>
    </div>
    <div class = "blog-content">
      <!-- item -->
      <div class = "blog-item">
        <div class = "blog-img">
          <img src = "assets/images/blog15.jpg" alt = "">
          <span><i class = "far fa-heart"></i></span>
        </div>
        <div class = "blog-text">
          <span>20 January, 2020</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
          <a >Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "blog-item">
        <div class = "blog-img">
          <img src = "assets/images/blog4.webp" alt = "">
          <span><i class = "far fa-heart"></i></span>
        </div>
        <div class = "blog-text">
          <span>20 January, 2020</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
          <a >Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "blog-item">
        <div class = "blog-img">
          <img src = "assets/images/blog5.webp" alt = "">
          <span><i class = "far fa-heart"></i></span>
        </div>
        <div class = "blog-text">
          <span>20 January, 2020</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
          <a >Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "blog-item">
        <div class = "blog-img">
          <img src = "assets/images/blog16.jpg" alt = "">
          <span><i class = "far fa-heart"></i></span>
        </div>
        <div class = "blog-text">
          <span>20 January, 2020</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
          <a >Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "blog-item">
        <div class = "blog-img">
          <img src = "assets/images/blog7.jpg" alt = "">
          <span><i class = "far fa-heart"></i></span>
        </div>
        <div class = "blog-text">
          <span>20 January, 2020</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
          <a >Read More</a>
        </div>
      </div>
      <!-- end of item -->
      <!-- item -->
      <div class = "blog-item">
        <div class = "blog-img">
          <img src = "assets/images/pexels-jorge-fakhouri-filho-2531135.jpg" alt = "">
          <span><i class = "far fa-heart"></i></span>
        </div>
        <div class = "blog-text">
          <span>20 January, 2020</span>
          <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
          <a >Read More</a>
        </div>
      </div>
      <!-- end of item -->
    </div>
  </div>
</section>
<!-- end of blog -->

<!-- about -->
<section class = "about" id = "about">
  <div class = "container">
    <div class = "about-content">
      <div>
        <img src = "assets/images/blog1.jpeg" alt = "">
      </div>
      <div class = "about-text">
        <div class = "title">
          <h2>Catherine Doe</h2>
          <p>BachatBazzar</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam voluptatem saepe eius ipsum nam provident sapiente, natus et vel eligendi laboriosam odit eos temporibus impedit veritatis ut, illo deserunt illum voluptate quis beatae quod. Necessitatibus provident dicta consectetur labore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam corrupti natus, eos quia recusandae voluptatem veniam modi officiis minima provident rem sint porro fuga quos tempora ea suscipit vero velit sed laudantium eaque necessitatibus maxime!</p>
      </div>
    </div>
  </div>
</section>
