<div class="container">
  <div class="sec-title-style1 text-center max-width">
      <div class="title">Product</div>
      <div class="text"><div class="decor-left"><span></span></div><p>Do  More Bachat on BachatBazzar</p><div class="decor-right"><span></span></div></div>
  </div>
  <div class = "display-style-btns">
    <button type = "button" id = "grid-active-btn" routerLink="grid">
        <i class = "fas fa-th"></i>
    </button>
    <button type = "button" id = "details-active-btn" routerLink="details">
        <i class = "fas fa-list-ul"></i>
    </button>
</div>
<router-outlet></router-outlet>
