<div class="container-fluid">
  <img src="https://blogapi.s3.us-west-2.amazonaws.com/uploads/45288267-3d88-42dd-8a7c-21b10911f08e-whatsapp.jpeg" alt="" class="src">
  <a href="" class="shopnow">Shop Now - 429 &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-arrow-right-long"></i> </a>
  <p class="deals">DEALS & OUTLETS</p>
  <h4>today's Deal and more</h4>
  <div class="row">
    <div class="col">
      <p class="one">
        Deal of the Day<br /><span>&nbsp;limited Quantiites</span>
      </p>
      <h3>Brown faux fur longline coat</h3>

      <p class="price">$310.00 <span>Was $190.00</span></p>

      <a class="cli" routerLink="/product">
        Shop now <i class="fa-solid fa-arrow-right-long"></i></a>
      <app-countdown></app-countdown>
    </div>
    <div class="col second">
      <p class="one">
        Your Exclusive Offers.<br />
        <span>&nbsp;Sign in to see amazing deals.</span>
      </p>
      <h3>
        Microsoft – Refurbish Xbox <br />
        One S 500GB
      </h3>

      <p class="price">$310.00</p>

      <a  class="cli" [routerLink]="['/login']">Sign in and save money <i class="fa-solid fa-arrow-right-long"></i></a>
      <app-countdown></app-countdown>
    </div>
  </div>
</div>
