<div class="con">
  <div class="banner">
    <div class="main">
      <div class="one">
        <div class="two">
          <img src="assets/images/banner-2.jpg" alt="" class="src1">
          <div class="text">
            <h5>New Arrivals</h5>
            <P class="es">
              Sneakers & <br><br> Atheltic Shoes</P>
              <button routerLink="product"> Discover now</button>

          </div>

        </div>
        <div class="three">
          <img src="assets/images/banner-1.jpg" alt="" class="src2">
          <div class="text1">
            <h5>Clearance</h5>
            <P class="es">
              Sandals & <br><br>up to 70% off</P>
              <button routerLink="shop"> Discover now</button>

          </div>

        </div>
      </div>
      <div class="four">
        <img src="assets/images/banner-3.jpg" alt="" class="src3">
        <div class="text3">
          <h5>On Sale</h5>
          <P class="es">
            Slips on Loafers<br> <br>upto 30% off</P>
            <button routerLink="product"> Shop now</button>

        </div>


      </div>
    </div>
    <div class="main2">
      <img src="assets/images/banner-4 (1).jpg" alt="" class="src4">
      <div class="text4">
        <h5>On&nbsp;Sale</h5>
        <P class="es">
          Amazing&nbsp;&nbsp;<br><br>Lace&nbsp;up&nbsp;Boots<br><br>from&nbsp;&nbsp;400</P>
          <button routerLink="/shop"> Shop now</button>

      </div>

    </div>
  </div>
</div>
