<div class="con">
  <div class="banner">
    <div class="main">
      <div class="one">
        <div class="two">
          <img src="https://blogapi.s3.us-west-2.amazonaws.com/uploads/91933fcb-5adf-4f2b-8923-a697560f26b0-banner-2.jpg" alt="" class="src1">
          <div class="text">
            <h5>New Arrivals</h5>
            <P class="es">
              Sneakers & <br><br> Atheltic Shoes</P>
              <button routerLink="product"> Discover now</button>

          </div>

        </div>
        <div class="three">
          <img src="https://blogapi.s3.us-west-2.amazonaws.com/uploads/8c6c38ec-2be3-4a27-ae30-8a4ed55033a8-banner-1.jpg" alt="" class="src2">
          <div class="text1">
            <h5>Clearance</h5>
            <P class="es">
              Sandals & <br><br>up to 70% off</P>
              <button routerLink="shop"> Discover now</button>

          </div>

        </div>
      </div>
      <div class="four">
        <img src="https://blogapi.s3.us-west-2.amazonaws.com/uploads/068fb9da-0bef-4cb0-b30a-e684a4f3c9d6-banner-3.jpg" alt="" class="src3">
        <div class="text3">
          <h5>On Sale</h5>
          <P class="es">
            Slips on Loafers<br> <br>upto 30% off</P>
            <button routerLink="product"> Shop now</button>

        </div>


      </div>
    </div>
    <div class="main2">
      <img src="https://blogapi.s3.us-west-2.amazonaws.com/uploads/4fa7b1db-7eab-451d-a766-d25cce976ed6-banner-4%20%281%29.jpg" alt="" class="src4">
      <div class="text4">
        <h5>On&nbsp;Sale</h5>
        <P class="es">
          Amazing&nbsp;&nbsp;<br><br>Lace&nbsp;up&nbsp;Boots<br><br>from&nbsp;&nbsp;400</P>
          <button routerLink="/shop"> Shop now</button>

      </div>

    </div>
  </div>
</div>
