<div class="container">
  <div class="sec-title-style1 text-center max-width">
      <div class="title">About Us</div>
      <div class="text"><div class="decor-left"><span></span></div><p>Quick About</p><div class="decor-right"><span></span></div></div>
  </div>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Company</span>
                        <h2>We are leader in <br>E-commerce market Since 1992</h2>
                    </div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</div>
                    <ul class="list-style-one">
                        <li>Lorem Ipsum is simply dummy tex</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                    </ul>
                    <div class="btn-box">
                        <a routerLink="/contact" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img src="assets/images/b.webp" alt=""></a></figure>
                    <figure class="image-2"><a href="#" class="lightbox-image" data-fancybox="images"><img src="assets/images/img-2.jpg" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<header>
  <div class="title">
      <h3>Developer crew</h3>
  </div>
  <div class="content">
      <h5>who we are</h5>
      <p>We are team of Frontended & Backened. driven. innovative individuals working in various locations from the world.</p>
  </div>
</header>

<main>

  <div class="profile">
      <figure data-value="product owner">
          <img src="https://vetri-suriya.web.app/devchallenges/team-page/photo1.png" alt="">
          <figcaption>bill mahoney</figcaption>
      </figure>
  </div>

  <div class="profile">
      <figure data-value="art director">
          <img src="https://vetri-suriya.web.app/devchallenges/team-page/photo2.png" alt="">
          <figcaption>saba cabrera</figcaption>
      </figure>
  </div>

  <div class="profile">
      <figure data-value="tech lead">
          <img src="https://vetri-suriya.web.app/devchallenges/team-page/photo3.png" alt="">
          <figcaption>shae le</figcaption>
      </figure>
  </div>

  <div class="profile">
      <figure data-value="ux designer">
          <img src="https://vetri-suriya.web.app/devchallenges/team-page/photo4.png" alt="">
          <figcaption>skylah lu</figcaption>
      </figure>
  </div>

  <div class="profile">
      <figure data-value="developer">
          <img src="https://vetri-suriya.web.app/devchallenges/team-page/photo5.png" alt="">
          <figcaption>griff richards</figcaption>
      </figure>
  </div>

  <div class="profile">
      <figure data-value="developer">
          <img src="https://vetri-suriya.web.app/devchallenges/team-page/photo6.png" alt="">
          <figcaption>stan john</figcaption>
      </figure>
  </div>

</main>



<section class="section section-default mt-none mb-none">
  <div class="container">
  <h2 class="mb-sm">Our <strong>Partners</strong></h2>
  <strong>
  <div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
  <div class="square-holder">
  <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/solar-communications-200.png" />
  </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
  <div class="square-holder">
  <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/cbf-200.png" />
  </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
  <div class="square-holder">
  <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/gxs-200.png" />
  </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
  <div class="square-holder">
  <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/jpr-200.png" />
  </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
  <div class="square-holder">
  <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/talk-internet-200.png" />
  </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
  <div class="square-holder">
  <img alt="" src="https://www.pmits.co.uk/Portals/0/img/opera3_logo.png" />
  </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
  <div class="square-holder">
  <img alt="" src="https://www.pmits.co.uk/Portals/0/pegasus-logo.png" />
  </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
  <div class="square-holder">
  <img alt="" src="https://www.pmits.co.uk/Portals/0/sage business partner.jpg" />
  </div>
  </div>
  </div>
  </strong>
  </div>
  </section>
  <section id="testimonials">
    <!--heading--->
    <div class="testimonial-heading">
        <span>Comments</span>
        <h4>Coustmer's Says</h4>
    </div>
    <!--testimonials-box-container------>
    <div class="testimonial-box-container">
        <!--BOX-1-------------->
        <div class="testimonial-box">
            <!--top------------------------->
            <div class="box-top">
                <!--profile----->
                <div class="profile">
                    <!--img---->
                    <div class="profile-img">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                    </div>
                    <!--name-and-username-->
                    <div class="name-user">
                        <strong>Liam mendes</strong>
                        <span>@liammendes</span>
                    </div>
                </div>
                <!--reviews------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i><!--Empty star-->
                </div>
            </div>
            <!--Comments---------------------------------------->
            <div class="client-comment">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
            </div>
        </div>
        <!--BOX-2-------------->
        <div class="testimonial-box">
            <!--top------------------------->
            <div class="box-top">
                <!--profile----->
                <div class="profile">
                    <!--img---->
                    <div class="profile-img">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                    </div>
                    <!--name-and-username-->
                    <div class="name-user">
                        <strong>Noah Wood</strong>
                        <span>@noahwood</span>
                    </div>
                </div>
                <!--reviews------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i><!--Empty star-->
                </div>
            </div>
            <!--Comments---------------------------------------->
            <div class="client-comment">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
            </div>
        </div>
        <!--BOX-3-------------->
        <div class="testimonial-box">
            <!--top------------------------->
            <div class="box-top">
                <!--profile----->
                <div class="profile">
                    <!--img---->
                    <div class="profile-img">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                    </div>
                    <!--name-and-username-->
                    <div class="name-user">
                        <strong>Oliver Queen</strong>
                        <span>@oliverqueen</span>
                    </div>
                </div>
                <!--reviews------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i><!--Empty star-->
                </div>
            </div>
            <!--Comments---------------------------------------->
            <div class="client-comment">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
            </div>
        </div>
        <!--BOX-4-------------->
        <div class="testimonial-box">
            <!--top------------------------->
            <div class="box-top">
                <!--profile----->
                <div class="profile">
                    <!--img---->
                    <div class="profile-img">
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                    </div>
                    <!--name-and-username-->
                    <div class="name-user">
                        <strong>Barry Allen</strong>
                        <span>@barryallen</span>
                    </div>
                </div>
                <!--reviews------>
                <div class="reviews">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i><!--Empty star-->
                </div>
            </div>
            <!--Comments---------------------------------------->
            <div class="client-comment">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
            </div>
        </div>
    </div>
  </section>
